.lowtea-default-font {
    color: white;
}

.lowtea-show-username {
    font-weight: 600;
}

.lowtea-show-userintro {
    font-size: 11px;
}

@green: #55b070;
@cutline-color: #e5e5e5;

@content-font-size: 14px;
@link-font-color: #428bca;

@subtitle-color: #777;

@docbtn-color: #777;

// table
.lowtea-table {
    display: table;
}

.lowtea-table-cell {
    display: table-cell;
    vertical-align: middle;
}
