@import '../base/css/base.less';

body {
    background-color: @background-color;
}

img.banner {
    text-align: center;
    display: block;
    width: 100%;
}

.price-color {
    color: @price-color;
}

ul.sidebar-active {
    position: fixed;
    top: 10px;
}

.hover-background:hover {
    /*background-color: #eee;*/
    border-color: #428bca;
    cursor: pointer;
}

.box-shadow {
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.netstore-label {
    font-size: 12px;
    background-color: @theme-color;
    color: white;
    padding: 0px 3px;

    span {
        text-align: center;
        display: inline-block;
    }
}

.netstore-nav-list {
    .box-shadow;
    position: relative;

    li {
        position: relative;
        overflow-y: hidden;
        border: 1px solid @border-color;
        border-width: 1px 1px 0px 1px;

        a {
            color: @theme-color;
        }

        .class-num {
            font-size: 10px;
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 0px 5px;
            border-width: 0px 1px 1px 0px;
            border-color: @border-color;
            border-style: solid;
            border-bottom-right-radius: 5px;
            color: @theme-color;
        }
    }

    li:hover {
        cursor: pointer;
    }

    li.active, li.active:hover {
        border-color: @theme-color;
        background-color: @theme-color;

        a {
            color: white;
        }

        a:hover {
            background-color: @theme-color;
        }

        .class-num {
            color: white;
            border-color: @theme-color;
        }
    }

    li.active + li {
        border-top-color: @theme-color;
    }
}

.grid-item {
    .box-shadow;
    border-width: 1px;
    border-color: @border-color2;
    overflow: hidden;

    .item-index {
        color: white;
        background-color: @border-color2;
        border-radius: 0px 0px 5px 0px;
    }

    .grid-item-intro {
        position: absolute;
        width: 100%;
        bottom: -40px;
        height: 40px;
        color: white;
        background-color: @theme-color;
        opacity: 0.9;
        padding: 3px;
    }
}

.grid-item:hover {
    border-color: @theme-color;

    .item-index {
        background-color: @theme-color;
    }
}

.netstore-shopname {
    /*background-color: rgba(111, 84, 153, 0.1)*/
    background-color: #333;
    
    small {
        padding-left: 10px;
        color: white;
    }
}

.netstore-body {
    background-color: white;
    border-width: 0px 1px;
    border-style: solid;
    border-color: @border-color;
    padding-bottom: 10px;
    .box-shadow;
}

.netstore-footer {
    background-color: @background-color2;
    color: white;
    min-height: 180px;
    padding: 20px 0px;

    p {
        font-size: 16px;
        padding: 0px 30px;
    }
}
